<!-- TABLA APERTURA DE CAJA -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h3>Cortes Registrados</h3>
        <!-- <div class="btn-group">
          <button type="button" class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bx bx-dots-vertical-rounded"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" [routerLink]="['cortes']">Registrar corte de mes</a></li>
          </ul>
        </div> -->
      </div>
      <div class="card-body">
        <div class="card w-50 m-auto">
          <div class="card-body">
            <h4 class="card-title text-center">
              REGISTRAR CORTE {{ fecha }} <i class="bx bxs-calendar"></i>
            </h4>
            <p class="card-text"></p>
            <small
              >Tener en cuenta la fecha que se genera el registro, no se podrá
              modificar el corte de pagos.</small
            >
            <div class="card-footer text-center">
              <button
                *ngIf="cortes.length > 0"
                class="btn btn-outline-primary"
                (click)="generateViewDebts()"
              >
                Registrar Corte
              </button>
            </div>
          </div>
        </div>
        <div class="card mt-2">
          <h5 class="card-header">Registros</h5>
          <div class="table-responsive text-nowrap">
            <table class="table table-sm" *ngIf="cortes.length > 0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>FECHA</th>
                  <th>DEUDA</th>
                  <th>HECHO POR</th>
                  <th>TOTAL A COBRAR</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                <tr *ngFor="let corte of cortes; index as i">
                  <td>
                    <strong>{{ corte.idcorte }}</strong>
                  </td>
                  <td>{{ corte.createdAt | date : "dd/MM/YYYY" }}</td>
                  <td>{{ corte.deuda | currency : "S/ " }}</td>
                  <td>
                    <span class="badge bg-label-primary me-1">{{
                      corte.usuario.username
                    }}</span>
                  </td>
                  <td>{{ corte.totalcobrar | currency : "S/ " }}</td>
                  <td>
                    <button
                      class="btn btn-info btn-sm"
                      (click)="getReport(corte)"
                    >
                      Reporte
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
