<div class="row">
  <div class="col-md-6 mb-4">

    <div class="card mb-2">
      <h5 class="card-header">TRIBUTOS</h5>
      <!-- Checkboxes and Radios -->
      <div class="card-body">
        <div class="row gy-3 mb-4">
          <div class="col-md">

            <label for="tupaSelect" class="form-label">TUPA</label>
            <select class="form-select" (change)="seleccionTupa(tupa)" id="tupaSelect" #tupa>
              <option selected value="0">Seleccionar</option>
              <option [value]="tupa.codtupa" *ngFor="let tupa of tupas; index as i">{{ tupa.denominacion }}</option>
            </select>

          </div>
        </div>
        <div class="row gy-3 mb-4">
          <div class="col-md">

            <div class="demo-inline-spacing mt-3">
              <div class="list-group list-group-flush">

                <div class="mt-4 d-flex justify-content-center" *ngIf="spinner; else nospinner">
                  <div class="spinner-border spinner-border-lg text-primary" role="status">
                    <span class="visually-hidden">Cargando...</span>
                  </div>
                </div>

                <ng-template #nospinner>
                  <a *ngFor="let req of requisitos" href="javascript:void(0);"
                    class="list-group-item list-group-item-action" (click)="addRequisito(req)">{{ req.requisitos }}</a>
                </ng-template>


              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="col-md-6 mb-4">

    <div class="card mb-2">
      <h5 class="card-header">MONTOS: </h5>
      <!-- Checkboxes and Radios -->
      <div class="card-body">
        <div class="row">
          <!-- Small table -->
          <div class="col-md">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Concepto</th>
                  <th>Monto S/ </th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                <tr *ngFor="let req of reqSel; index as i">
                  <td>{{ i+1 }}</td>
                  <td>{{ req.requisitos }}</td>
                  <td>
                    <input
                      type="text"
                      class="form-control text-center"
                      [value]="req.monto_ref"
                      [(ngModel)]="reqSel[i].monto_ref"
                      (keyup)="operaciones()"
                      #monto>
                  </td>
                  <td class="text-center">
                    <button (click)="quitarRequisito(i)" class="btn btn-danger btn-xs">X</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <hr>
            <div class="mb-3 row mx-4">
              <label class="col-md-8 col-form-label">Sub-Total</label>
              <div class="col-md-4 mb-1">
                <input class="form-control text-end" type="text" [value]="subTotal | currency: 'S/ ' " readonly>
              </div>
              <label class="col-md-8 col-form-label">Otras tasas</label>
              <div class="col-md-4 mb-1">
                <input class="form-control text-end" type="text" value="0.00" readonly>
              </div>
              <label class="col-md-8 col-form-label">Descuento</label>
              <div class="col-md-4 mb-1">
                <input class="form-control text-end" type="text" value="0.00">
              </div>
              <label class="col-md-8 col-form-label">Total</label>
              <div class="col-md-4 mb-1">
                <input class="form-control text-end" type="text" [value]="subTotal | currency: 'S/ ' " readonly>
              </div>
            </div>
          </div>
          <!--/ Small table -->
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-end">
          <button class="btn btn-success" (click)="registrarTributo()">Pagar tributo(s)</button>
          <!-- <button class="btn btn-secondary" (click)="handleMonto()">HnadleMontos</button> -->
        </div>
      </div>
    </div>
  </div>

</div>
