<!-- COSTOS -->
<div class="row">
  <div class="col-md-12 mb-4">
    <div class="card" style="min-height: 250px;">
      <h5 class="card-header">SERVICIOS DE: <span class="text-primary"> {{ nombres }} </span></h5>
      <div class="table-responsive text-nowrap">
        <table class="table table-sm" style="font-size: 11px;">
          <thead>
            <tr>
              <th>#</th>
              <th>Servicio</th>
              <th>Inicio servicio</th>
              <th>Tipo socio</th>
              <th>Tipo vivienda</th>
              <th>Integrantes</th>
              <th>Exoneraciones</th>
              <th>Zona</th>
              <th>Referencia</th>
              <th>Acción  </th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <tr *ngFor="let costo of costos; let i = index">
              <td>{{i+1}}</td>
              <td>{{ costo.servicio.detaservicios }}</td>
              <td>{{ costo.fecha_inicio_servicio | date: 'short' }}</td>
              <td>{{ costo.tpousuario }}</td>
              <td>{{ costo.tpovivienda }}</td>
              <td>{{ costo.nrointegrante }}</td>
              <td>
                <p>Exoneracion A: {{costo.exoa}}</p>
                <p>Exoneracion F: {{costo.exof}}</p>
                <p>Exoneracion P: {{costo.exop}}</p>
              </td>
              <td>{{ costo.zona.detazona }}</td>
              <td>{{ costo.referencia_dom }}</td>
              <!-- <td><span class="badge bg-label-primary me-1">Active</span></td> -->
              <td>
                <button (click)="obtenerIdCostoOtro(costo.codcosto, costo.servicio.detaservicios)" class="btn btn-primary btn-xs">Tarifa</button>
                <!-- <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Editar</a>
                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Eliminar</a>
                  </div>
                </div> -->
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- TARIFAS -->
<div class="row" *ngIf="panelTarifas">
  <div class="col-md-12 mb-4">
    <div class="card" style="min-height: 250px;">
      <h5 class="card-header">TARIFAS: {{ nombreServicio }}</h5>
      <div class="table-responsive text-nowrap">
        <table class="table table-sm" style="font-size: 14px;">
          <thead>
            <tr>
              <th>#</th>
              <th>Detalle</th>
              <th>Monto</th>
              <th>Estado</th>
              <th>Acción  </th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <tr *ngFor="let otro of costoOtros; let i = index">
              <td>{{i+1}}</td>
              <td>{{ otro.tarifario.detalletarifario }}</td>
              <td>{{ otro.tarifario.monto | currency: 'S/ ' }}</td>
              <!-- <td>{{ tarifa.tarifario.esta }}</td> -->
              <td>
                <span *ngIf="otro.costo.esta !== 0; else inactivo" class="badge bg-label-primary me-1">Activo</span>
                <ng-template #inactivo>
                  <span class="badge bg-label-danger me-1">Inactivo</span>
                </ng-template>
              </td>
              <td>
                <button
                  (click)="setCostoOtroServicio(otro)"
                  class="btn btn-primary btn-xs"
                  data-bs-toggle="modal"
                  data-bs-target="#modalCenter">
                  Editar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Vertically Centered Modal -->
<div class="col-lg-4 col-md-6">
  <!-- <small class="text-light fw-semibold">Vertically centered</small> -->
  <div class="mt-3">
    <!-- Button trigger modal -->
    <!-- <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#modalCenter"
    >
      Launch modal
    </button> -->

    <!-- Modal -->
    <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalCenterTitle">Modificar Tarifa</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="mb-3">
                <label for="lblTarifas" class="form-label">Costos</label>
                <select
                  class="form-select"
                  id="lblTarifas"
                  (change)="setTarifa(idTarifa)"
                  #idTarifa>
                  <option *ngFor="let tarifa of tarifas" [value]="tarifa.idtarifario">{{tarifa.monto | currency: 'S/ '}}</option>
                </select>
              </div>
            </div>
            <!-- <div class="row g-2">
              <div class="col mb-0">
                <label for="emailWithTitle" class="form-label">Email</label>
                <input
                  type="text"
                  id="emailWithTitle"
                  class="form-control"
                  placeholder="xxxx@xxx.xx"
                />
              </div>
              <div class="col mb-0">
                <label for="dobWithTitle" class="form-label">DOB</label>
                <input
                  type="text"
                  id="dobWithTitle"
                  class="form-control"
                  placeholder="DD / MM / YY"
                />
              </div>
            </div> -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
            <button
              (click)="actualizarTarifa()"
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal">
              Guardar cambios
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
