<div class="row">
  <div class="col-md-12 mb-3">
    <div class="card">
      <div class="card-body">

        <h3>Menu de configuraciones</h3>

        <div class="card-body">
          <div class="demo-inline-spacing">
            <a routerLink="config-tarifas" type="button" class="btn btn-outline-primary">Tarifas</a>

            <a routerLink="cate-egresos" type="button" class="btn btn-outline-primary">Categorías egresos</a>

            <a routerLink="#" type="button" class="btn btn-outline-primary">Tipo multas</a>
          </div>
        </div>

        <!-- <div class="d-flex" id="icons-container">

          <div class="card icon-card cursor-pointer text-center mb-4 mx-2">
            <div class="card-body">
              <i class="bx bxl-adobe mb-2"></i>
              <a routerLink="config-tarifas">
                <p class="icon-name text-capitalize text-truncate mb-0">Tarifas</p>
              </a> <br>
            </div>
          </div>
          <div class="card icon-card cursor-pointer text-center mb-4 mx-2">
            <div class="card-body">
              <i class="bx bxl-algolia mb-2"></i>
              <a routerLink="cate-egresos"><p class="icon-name text-capitalize text-truncate mb-0">Categorías egresos</p></a>
            </div>
          </div>

        </div> -->

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <div class="card h-100">
      <div class="card-body">

        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</div>
