<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="modalDctoTitle">Descuento</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col mb-3">
          <label for="montoDcto" class="form-label">Monto</label>
          <input
            type="number"
            id="montoDcto"
            class="form-control"
            placeholder="Ingresar monto descuento"
            [(ngModel)] = miDcto
          />
        </div>
      </div>
      <div class="row g-2">
        <label for="descripcionDcto" class="form-label"
          >Descripción</label
        >
        <textarea
          class="form-control"
          id="descripcionDcto"
          rows="3"
          [(ngModel)] = miObs
        ></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-secondary"
        data-bs-dismiss="modal"
      >
        Cerrar
      </button>
      <button type="button" class="btn btn-primary" (click)="aplicarDcto()" data-bs-dismiss="modal">Aplicar DCTO</button>
    </div>
  </div>
</div>
