<div class="row">
  <div class="col-md-12 mb-4">
    <div class="card mb-4">
      <h5 class="card-header">Tarifario del servicio</h5>
      <!-- Checkboxes and Radios -->
      <div class="card-body">
        <div class="row gy-3">
          <div class="col-md">

            <small class="text-light fw-semibold">Historial</small>

            <div class="mb-3">
              <label for="exampleFormControlSelect1" class="form-label">Año</label>
              <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
                <option selected>Seleccionar</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
              </select>
            </div>

            <button (click)="crearPdf()">crear pdf</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
