
<div class="card mb-3">
  <div class="row">
    <div class="col-md-6">
      <h5 class="card-header">
        Reporte de todos los comprobantes de ingreso
      </h5>
    </div>
    <div class="col-md-6 d-flex justify-content-around align-items-center">
      <button class="btn btn-success btn-sm mr-4" (click)="crearReporte()"><i class='bx bxs-file'></i> Excel</button>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive text-nowrap">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Cliente</th>
            <th>Servicio</th>
            <th>Estado</th>
            <th>Periodo</th>
            <th>Monto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pago of allPagos| paginate:{
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count}; let i = index">
            <td>
              {{i+1}}
            </td>
            <td>
              {{ pago.cliente.apepaterno }} {{ pago.cliente.apematerno }} {{ pago.cliente.nombres }}
            </td>
            <td>
              {{ pago.costo.servicio.detaservicios }}
            </td>
            <td>
              {{ pago.pagoServicioEstado.descripcion }}
            </td>
            <td>
              {{ pago.fecha }}
            </td>
            <td>
              {{ pago.montopagado | currency: 'S/ ' }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mt-4">
        <pagination-controls previousLabel="Prev" nextLabel="Sig" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
