<!-- FORMULARIO PARA APERTURAR -->
<div class="row mb-4" *ngIf="estadoCaja">
  <div class="col-md-12">
    <div class="card mb-4">
      <h5 class="card-header">Estado de caja: </h5>
      <div class="card-body">
        <div>
          <p class="text-info">Usted no cuenta con caja aperturada en la fecha {{ fechaHoy }}</p>
          <p class="text-danger">Para continuar, ¿desea aperturar caja?</p>
        </div>

        <form [formGroup]="cajaForm">
          <div class="row gx-3 gy-2 align-items-center">
            <div class="col-md-3">
              <label class="form-label" for="selectCaja">CAJA</label>
              <select class="form-select" id="selectCaja" formControlName="ncaja">
                <option value="CAJA PRINCIPAL">CAJA PRINCIPAL</option>
              </select>
            </div>

            <div class="col-md-3">
              <label class="form-label" for="txtTesoreria">USUARIO</label>
              <input type="text" class="form-control" readonly value="TESORERA" id="txtTesoreria">
            </div>

            <div class="col-md-3">
              <label class="form-label" for="txtMontoInicial">EFECTIVO INICIAL</label>
              <input type="number" class="form-control" id="txtMontoInicial" formControlName="efectivoape">
            </div>
            <div class="col-md-3">
              <label class="form-label" for="btnAperturar">&nbsp;</label>
              <button (click)="aperturarCaja()" id="btnAperturar" class="btn btn-success d-block">Aperturar</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<!-- TABLA APERTURA DE CAJA -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h3>Mostrar por fecha</h3>
      </div>
      <div class="card-body">
        <input type="date" class="form-control mb-4" (change)="buscarFecha(fecha.value)" #fecha>
        <div class="table-responsive text-nowrap">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Cod</th>
                <th>Caja aperturas</th>
                <th>Inicio</th>
                <th>Final</th>
                <th>Usuario</th>
                <th>Total. Arqueo</th>
                <th>Estado</th>
                <th>Acción</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr *ngFor="let caja of cajasArr | paginate:{
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count}; let i = index">
                <td> {{ caja.idcaja }} </td>
                <td> {{ caja.ncaja }} </td>
                <!-- <td> {{ caja.fapertura | date: 'medium':'America/Lima' }} </td> -->
                <td> {{ caja.fapertura | date: 'short' }} </td>
                <td> {{ caja.fcierre | date: 'short' }} </td>
                <td> {{ caja.usuario?.username }} </td>
                <td> {{ caja.total | currency: 'S/ ' }} </td>
                <td>
                  <span class="badge bg-label-primary me-1" *ngIf=" caja.esta === 1 ;else cajaCerrada">Activo</span>
                  <ng-template #cajaCerrada>
                    <span class="badge bg-label-danger me-1">Cerrado</span>
                  </ng-template>
                </td>
                <td>
                  <button class="btn btn-danger btn-xs" *ngIf="caja.esta !== 0" data-bs-toggle="modal"
                    data-bs-target="#modalCenter" (click)="setearCaja(caja)">
                    Cerrar caja
                  </button>
                </td>
                <td>
                  <button (click)="seguimiento(caja.idcaja)" class="btn btn-info btn-xs">Seguimiento</button>
                </td>
              </tr>
            </tbody>

          </table>
          <div class="mt-4">
            <pagination-controls previousLabel="Prev" nextLabel="Sig" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- SEGUIMIENTO -->
<div class="row mt-4" *ngIf="panelSeguimiento">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h3>SEGUIMIENTO CAJA {{caja.idcaja}}</h3>
      </div>
      <div class="card-body">
        <!-- <input type="date" class="form-control mb-4" (change)="buscarFecha(fecha.value)" #fecha> -->
        <div class="table-responsive text-nowrap">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>Caja</th>
                <th>Recibo</th>
                <th>Cliente</th>
                <th>Concepto</th>
                <th>Fecha</th>
                <th>Monto</th>
                <th>Dcto</th>
                <th>Cobrado por</th>
                <th>Estado</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr *ngFor="let pago of pagosservicios; let i = index">
                <td> {{ i+1 }} </td>
                <td> {{ pago.caja.ncaja }} </td>
                <td> {{ pago.correlativo }} </td>
                <td> {{ pago.costo.cliente.apepaterno }} {{ pago.costo.cliente.apematerno }} {{
                  pago.costo.cliente.nombres }}</td>
                <td>
                  {{ pago.tipoPagoServicios.descripcion}}
                </td>
                <td> {{ pago.fecha | date: 'short' }} </td>
                <td> {{ pago.montopagado | currency: 'S/ ' }} </td>
                <td> {{ pago.montodescuento | currency: 'S/ ' }} </td>
                <td> {{ pago.usuario?.username }} </td>
                <td>
                  <span class="badge bg-label-primary me-1"
                    *ngIf=" pago.esta === 1 ;else seguimientoCerrado">Cobrado</span>
                  <ng-template #seguimientoCerrado>
                    <span class="badge bg-label-danger me-1">Anulado</span>
                  </ng-template>
                </td>
                <td>
                  <div *ngIf="pago.esta !== 4" class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <button class="dropdown-item" href="javascript:void(0);" (click)="anularTicket(pago)"><i
                          class="bx bx-edit-alt me-1"></i> Anular recibo</button>
                      <!-- <a class="dropdown-item" [routerLink]="['/dashboard/tarifarios',cliente.idclientes]"><i
                          class="bx bx-money me-1"></i> Tarifas</a>

                      <a class="dropdown-item" (click)="mantenimiento()" ><i
                          class="bx bx-credit-card-alt me-1"></i> Costos</a> -->

                      <!-- <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Eliminar</a> -->
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">&nbsp;</td>
                <td> <b>TOTAL</b> </td>
                <td>{{ totalCajaSel | currency: 'S/ ' }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Cierre de caja</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col mb-3">
            <label for="txtMonto" class="form-label">Total registrado</label>
            <input *ngIf="toUpdateCaja" type="number" id="txtMonto" class="form-control"
              [(ngModel)]="toUpdateCaja.total" readonly />

            <!-- <ng-template #noMonto>
              <input
                type="number"
                id="txtMonto"
                class="form-control"
                value="0"
              />
            </ng-template> -->
          </div>
          <div class="col mb-3">
            <label for="txtMonto" class="form-label">Total efectivo</label>
            <input *ngIf="toUpdateCaja" type="number" id="txtMonto" class="form-control"
              [(ngModel)]="toUpdateCaja.totalefectivo" (keyup)="calculos()" />
          </div>
          <div class="col mb-3">
            <label for="txtMonto" class="form-label">Balance</label>
            <input *ngIf="toUpdateCaja" type="number" id="txtMonto" class="form-control"
              [(ngModel)]="toUpdateCaja.balance" readonly />
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <label for="txtMonto" class="form-label">Observaciones</label>
            <textarea *ngIf="toUpdateCaja" class="form-control" id="exampleFormControlTextarea1" rows="3"
              [(ngModel)]="toUpdateCaja.obs">
            </textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" (click)="cerrarCaja()" data-bs-dismiss="modal">Cerrar
          caja</button>
      </div>
    </div>
  </div>
</div>
