<!-- <div class="row">
  <div class="col-md-12">
    <app-buscador></app-buscador>
  </div>
</div> -->
<div *ngIf="tieneDeuda" class="alert alert-danger alert-dismissible" role="alert">
  {{msg}}!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="row mt-1">
  <div class="col-md-6 mb-4">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">DEUDAS</h5>
        <div class="table-responsive text-nowrap">
          <table class="table card-table">
            <thead>
              <tr class="table-primary">
                <th>Sel</th>
                <th>Concepto</th>
                <th>Monto</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr class="table-info" *ngFor="let deuda of deudas; index as i">
                <td>
                  <label class="d-flex justify-content-around">
                    <input
                      class="form-check-input me-1"
                      type="checkbox"
                      [value]="deuda.idtbdeudas"
                      (change)="setPago(deudaSel, deuda)"
                      #deudaSel
                    />
                    <span>{{ deuda.idtbdeudas }}</span>
                  </label>
                </td>
                <td>
                  <span>{{ dateService.setFormatPeriodo(deuda.periodo) }}</span>
                </td>
                <td>
                  {{ deuda.total | currency : "S/ " }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- TABLA DE PAGOS -->
  <div class="col-md-6 mb-4">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">TRANSACCIONES</h5>
        <div class="table-responsive text-nowrap">
          <table class="table card-table">
            <thead>
              <tr class="table-primary">
                <th>#</th>
                <th>Concepto</th>
                <th>Periodo</th>
                <th>Monto</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr class="table-info" *ngFor="let pago of pagos; index as i">
                <td>{{ i + 1 }}</td>
                <td>
                  {{ pago.concepto }}
                </td>
                <td>
                  <span>{{ pago.fecha }}</span>
                </td>
                <td>
                  {{ pago.monto | currency : "S/ " }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">
                  <label class="col-md-8 col-form-label">Sub-Total</label>
                </td>
                <td colspan="2">
                  <input
                    class="form-control text-end"
                    type="text"
                    [value]="subtotal | currency : 'S/ '"
                    readonly
                  />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <label class="col-md-8 col-form-label">Otras tasas</label>
                </td>
                <td colspan="2">
                  <input
                    class="form-control text-end"
                    type="text"
                    value="0.00"
                    readonly
                  />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <label class="col-md-8 col-form-label">Descuento</label>
                </td>
                <td colspan="2">
                  <input
                    class="form-control text-end"
                    type="text"
                    [value]="dcto | currency : 'S/ '"
                    readonly
                  />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <label class="col-md-8 col-form-label">Total</label>
                </td>
                <td colspan="2">
                  <input
                    class="form-control text-end text-primary"
                    type="text"
                    [value]="monto | currency : 'S/ '"
                    readonly
                  />
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="mb-3" *ngIf="tieneDeuda == false">
        <div
          class="mb-2 d-flex flex-column mb-2 align-items-center"
          *ngIf="monto > 0"
        >
          <!-- <button type="button" class="btn btn-info w-25 mx-2" >Aplicar dcto</button> -->
          <!-- Button trigger modal -->
          <button
            *ngIf="dcto == 0"
            type="button"
            class="btn btn-info"
            data-bs-toggle="modal"
            data-bs-target="#modalDcto"
            (click)="cleanData()"
          >
            Aplicar dcto
          </button>
        </div>

        <div
          class="mb-2 d-flex flex-column mb-2 align-items-center"
          *ngIf="dcto != 0"
        >
          <button
            type="button"
            class="btn btn-secondary"
            (click)="cleanData()"
          >
            Quitar dcto
          </button>
        </div>

        <div
          class="d-flex flex-column mb-2 align-items-center"
          *ngIf="monto > 0"
        >
          <button
            (click)="regPagosServicio()"
            [disabled]="isDisabled"
            type="button"
            class="btn btn-success w-25 mx-2"
          >
            Emitir recibo
          </button>
        </div>

        <div
          *ngIf="usuario"
          class="mb-2 d-flex flex-column mb-2 align-items-center"
        >
          <!-- Button trigger modal -->
          <button
            *ngIf="usuario.roles![0].id == 1 && monto > 0"
            type="button"
            class="btn btn-primary w-25 mx-2"
            data-bs-toggle="modal"
            data-bs-target="#modalCenter"
          >
            Condonar
          </button>
        </div>
      </div>

      <!-- Modal CONDONACION -->
      <div class="mt-3" *ngIf="usuario">
        <div
          class="modal fade"
          id="modalCenter"
          tabindex="-1"
          style="display: none"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <!-- <app-condonacion [deudas]="deudasToUpdate"></app-condonacion> -->
            <div class="modal-content">
              <form (ngSubmit)="registrarCondonacion()">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalCenterTitle">
                    CONDONACION DE DEUDA
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col mb-3">
                      <label for="txtMontoCondonar" class="form-label"
                        >Monto</label
                      >
                      <input
                        type="text"
                        id="txtMontoCondonar"
                        class="form-control"
                        placeholder="monto"
                        [(ngModel)]="monto"
                        [ngModelOptions]="{ standalone: true }"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="row g-2">
                    <div class="col mb-0">
                      <label for="txtObsCondonar" class="form-label"
                        >Observaciones</label
                      >
                      <textarea
                        class="form-control"
                        id="txtObsCondonar"
                        rows="3"
                        [(ngModel)]="observacion"
                        [ngModelOptions]="{ standalone: true }"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-outline-secondary"
                    data-bs-dismiss="modal"
                  >
                    Cerrar
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >
                    Registrar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- MODAL DCTO -->
      <div class="mt-3">
        <div
          class="modal fade"
          id="modalDcto"
          tabindex="-1"
          aria-hidden="true"
          style="display: none"
        >
          <app-descuentos (dcto)="aplicarDcto($event)"></app-descuentos>
        </div>
      </div>
    </div>
  </div>
</div>
