<!-- <p>
  Año:
  <select name="" id="">
    <option value="">2022</option>
    <option value="">2023</option>
  </select>
</p>
<p>
  categoria:
  <select>
    <option >Todo</option>
    <option >cat 1</option>
  </select>
</p>
<br> -->

<!-- SELECCION DE TIPO DE REPORTE -->
<div class="row mb-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="mb-3">
          <button class="btn btn-danger" (click)="reporte()">PDF</button> <br>
          <small>Filtros de generación de reporte en trabajo!!!</small>
        </div>
      </div>
    </div>
  </div>
</div>
