<!-- SELECCION DE TIPO DE REPORTE -->
<div class="row mb-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="mb-3">
          <label for="exampleFormControlSelect1" class="form-label">Tipo de reporte</label>
          <div class="d-flex justify-content-between gap-1">
            <select class="form-select" (change)="selOpc(tipo)" #tipo>
              <option value="0" selected>Seleccionar</option>
              <option value="cliente">Reporte de deudas</option>
              <option value="zona">Socios por Zona</option>
              <!-- <option value="tupa">Pagos por Tupa</option> -->
              <option value="pago">Pagos por fecha</option>
              <option value="caja">Pagos por caja</option>
              <option value="tributo">Pagos por tributo</option>
              <option value="egreso">Egresos</option>
              <option value="multas">Multas</option>
            </select>
            <!-- <button *ngIf="clientePanel" class="btn btn-info">Buscar</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- <button (click)="getMes()">Ver Mes</button> -->

<!-- REPORTE POR CLIENTE -->
<app-repote-bycliente *ngIf="clientePanel"></app-repote-bycliente>

<!-- REPORTE POR ZONA -->
<app-repote-byzona *ngIf="zonaPanel"></app-repote-byzona>

<!-- REPORTE POR TUPA (REQUERIMIENTO) -->
<app-repote-bytupa *ngIf="tupaPanel"></app-repote-bytupa>

<!-- REPORTE PAGOS POR USUARIO(*) Y RANGO DE FECHA -->
<app-repote-byfechas *ngIf="pagoPanel"></app-repote-byfechas>

<!-- REPORTE PAGOS POR ID DE CAJA -->
<app-repote-bycaja *ngIf="cajaPanel"></app-repote-bycaja>

<!-- REPORTE PAGOS POR TRIBUTO -->
<app-reporte-bytributo *ngIf="tributo"></app-reporte-bytributo>

<!-- REPORTE DE EGRESOS -->
<app-reporte-egresos *ngIf="egreso"></app-reporte-egresos>

<!-- REPORTE DE MULTAS -->
<app-reporte-multas *ngIf="multas"></app-reporte-multas>
