<div class="row">
  <div class="col-md-12">

    <div class="card mb-3">
      <div class="card-body">
        <!-- <form [formGroup]="zonaForm" (ngSubmit)="reporteDeudasZonaAnio()">
        <div class="row mb-3">
            <label class="col-sm-1 col-form-label" for="basic-default-name">Zona</label>
            <div class="col-sm-3">
              <select
                class="form-select"
                formControlName="zona">
                <option *ngFor="let zona of zonas" [value]="zona.idtbzonas">{{ zona.detazona }}</option>
              </select>
            </div>

            <label class="col-sm-1 col-form-label" for="basic-default-name">Año</label>
            <div class="col-sm-3">
              <select
                class="form-select"
                name=""
                formControlName="anio">
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
              </select>
            </div>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-info">Ver</button>
            </div>

          </div>
        </form> -->

        <form [formGroup]="zonaForm" (ngSubmit)="clientesByZona()">
          <div class="row mb-3 d-flex justify-content-between">
            <label class="col-sm-1 col-form-label" for="basic-default-name">Zona</label>
            <div class="col-sm-3">
              <select class="form-select" formControlName="zona">
                <option *ngFor="let zona of zonas" [value]="zona.idtbzonas">
                  {{ zona.detazona }}
                </option>
              </select>
            </div>

            <label class="col-sm-2 col-form-label text-center" for="basic-default-name">TIPO DE SOCIO</label>
            <div class="col-sm-3">
              <select class="form-select" formControlName="tiposocio">
                <option *ngFor="let tipo of tipoClientes" [value]="tipo.idtipocliente">
                  {{ tipo.descripcion }}
                </option>
              </select>
            </div>

            <div class="col-sm-2">
              <button type="submit" class="btn btn-info">Ver</button>
            </div>

          </div>
        </form>
      </div>
    </div>

    <div class="card mb-3" *ngIf="mostrarTabla">
      <div class="row">
        <div class="col-md-12">
          <div class="card-header d-flex justify-content-between">
            <h5 class="card-title">Socios / Zona / Tipo Socio</h5>
            <button class="btn btn-success" (click)="excelExport()"><i class='bx bx-file'></i> Reporte excel</button>
            <button (click)="reporte()" class="btn btn-primary btn-sm"><i class='bx bxs-file-pdf' ></i></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-body">
            <div class="table-responsive text-nowrap">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Dirección</th>
                    <th>Zona</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cli of clientes | paginate:{
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count} ; index as i ">
                    <td>{{i+1}}
                    </td>
                    <td>{{ cli.apepaterno }} {{ cli.apematerno }} {{ cli.nombres }}</td>
                    <td>
                      {{ cli.direccion }}
                    </td>
                    <td>
                      {{ cli.zona.detazona }}
                    </td>
                    <td>
                      <span *ngIf="cli.estado === 1; else inactivo" class="badge bg-success">Habilitado</span>

                      <ng-template #inactivo>
                        <span class="badge bg-danger">Deshabilidato</span>
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!--Including the pagination control.-->
              <div class="mt-4">
                <pagination-controls previousLabel="Prev" nextLabel="Sig" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
