<!-- BUSCADOR -->
<div class="row">
  <div class="col-md-12 d-flex align-items-end">
    <!-- <button class="btn btn-info">Buscador</button> -->
    <button (click)="quitarRouter(idCliente)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#largeModal">
      <i class='bx bx-user-pin'></i> Buscar Socio
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div #closeModal class="modal fade" id="largeModal" tabindex="-1" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel3">Buscar socio</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 mb-3">
                <app-buscador-datatable (salida)="mostrarCliente($event)"></app-buscador-datatable>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<!-- PAGOS -->
<div class="row">
  <div class="col-md-12 mb-4">
    <nav class="navbar navbar-example navbar-expand-lg navbar-light bg-light" *ngIf="idCliente != 0">
      <div class="container-fluid">
        <a class="navbar-brand text-primary" href="javascript:void(0)">{{nombre_completo}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-ex-2"
          aria-controls="navbar-ex-2" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-ex-2">
          <div class="navbar-nav me-auto">
            <!-- <a class="nav-item nav-link" style="cursor: pointer;" (click)="setPaneles('o_pagos')">Deudas</a> -->
            <!-- <a class="nav-item nav-link" style="cursor: pointer;" (click)="setPaneles('o_tributos')">Tributos</a> -->
            <!-- <a class="nav-item nav-link" style="cursor: pointer;" (click)="setPaneles('o_adelantos')">Pagos</a> -->
            <!-- <a class="nav-item nav-link" style="cursor: pointer;" (click)="setPaneles('o_historial')">Historial</a> -->
            <a [routerLink]="['deudas', idCliente]" class="nav-item nav-link" style="cursor: pointer;" >Deudas</a>
            <a [routerLink]="['tributos', idCliente]" class="nav-item nav-link" style="cursor: pointer;">Tributos</a>
            <a [routerLink]="['pagos', idCliente]" class="nav-item nav-link" style="cursor: pointer;">Pagos</a>
            <a [routerLink]="['historial', idCliente]" class="nav-item nav-link" style="cursor: pointer;">Historial</a>
            <a [routerLink]="['multas', idCliente]" class="nav-item nav-link text-danger" style="cursor: pointer;">Multas</a>
          </div>
        </div>
      </div>
    </nav>

  </div>

  <router-outlet></router-outlet>

</div>

<!-- TRIBUTOS -->
<!-- <div class="row" *ngIf="panel_tributos">
  <div class="col-md-12">
    <app-tributos [cliente]="cliente" [caja]="caja"></app-tributos>
    <button class="btn btn-danger btn-xs" (click)="setPaneles('x_tributos')">Cancelar</button>
  </div>
</div> -->

<!-- HISTORIAL -->
<!-- <div class="row" *ngIf="panel_historial">
  <div class="col-md-12">
    <app-historial [cliente]="cliente"></app-historial>
  </div>
</div> -->

<!-- CONDONACIONES -->
<!-- <app-condonacion *ngIf="panel_condonacion" [deudas]="deudas" [monto]="monto"></app-condonacion> -->

<!-- ADELANTOS/PAGOS -->
<!-- <div class="row" *ngIf="panel_adelantos">
  <div class="col-md-12">
    <app-adelantos
      *ngIf="panel_adelantos"
      [costos]="costos"
      [cliente]="cliente"
      [caja]="caja"
      >
    </app-adelantos>
    <button class="btn btn-danger btn-xs" (click)="setPaneles('x_adelantos')">Cancelar</button>
  </div>
</div> -->

<!-- OCURRENCIAS -->
