<!-- BUSCADOR -->
<div class="row">
  <div class="col-md-12 d-flex align-items-end">
    <!-- <button class="btn btn-info">Buscador</button> -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#largeModal">
      <i class='bx bx-user-pin'></i> Clientes
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div #closeModal class="modal fade" id="largeModal" tabindex="-1" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel3">Buscar cliente</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 mb-3">
                <app-buscador-datatable (salida)="mostrarCliente($event)"></app-buscador-datatable>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<!-- PAGOS -->
<div class="row">
  <div class="col-md-12 mb-4">
    <nav class="navbar navbar-example navbar-expand-lg navbar-light bg-light" *ngIf="idCliente != 0">
      <div class="container-fluid">
        <a class="navbar-brand text-primary" href="javascript:void(0)">{{nombre_completo}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-ex-2"
          aria-controls="navbar-ex-2" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-ex-2">
          <div class="navbar-nav me-auto">
            <a class="nav-item nav-link" style="cursor: pointer;" (click)="setPaneles('o_pagos')">Deudas</a>
            <a class="nav-item nav-link" style="cursor: pointer;" (click)="setPaneles('o_tributos')">Tributos</a>
            <a class="nav-item nav-link" style="cursor: pointer;" (click)="setPaneles('o_adelantos')">Pagos</a>
            <a class="nav-item nav-link" style="cursor: pointer;" (click)="setPaneles('o_historial')">Historial</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="row mt-1" *ngIf="panel_pagos">
      <div class="col-md-6 mb-4">
        <div class="card mb-4" *ngIf="panel_pagos">
          <div class="card-body">
            <h5 class="card-title">DEUDAS</h5>
            <div class="table-responsive text-nowrap">
              <table class="table card-table">
                <thead>
                  <tr class="table-primary">
                    <th>Sel</th>
                    <th>Concepto</th>
                    <th>Monto</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                  <tr class="table-info" *ngFor="let deuda of deudas; index as i">
                    <td>
                      <label class="d-flex justify-content-around">
                        <input class="form-check-input me-1" type="checkbox" [value]="deuda.idtbdeudas"
                          (change)="setPago(deudaSel,deuda)" #deudaSel>
                        <span>{{ deuda.idtbdeudas }}</span>
                      </label>
                    </td>
                    <td>
                      <span>{{ dateService.setFormatPeriodo(deuda.periodo)}}</span>
                    </td>
                    <td>
                      {{ deuda.total | currency: 'S/ ' }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- TABLA DE PAGOS -->
      <div class="col-md-6 mb-4">
        <div class="card mb-4" *ngIf="panel_pagos">
          <div class="card-body">
            <h5 class="card-title">TRANSACCIONES</h5>
            <div class="table-responsive text-nowrap">
              <table class="table card-table">
                <thead>
                  <tr class="table-primary">
                    <th>#</th>
                    <th>Concepto</th>
                    <th>Periodo</th>
                    <th>Monto</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                  <tr class="table-info" *ngFor="let pago of pagos; index as i">
                    <td>{{ i + 1 }}</td>
                    <td>
                      {{ pago.concepto }}
                    </td>
                    <td>
                      <span>{{ pago.fecha }}</span>
                    </td>
                    <td>
                      {{ pago.monto | currency: 'S/ ' }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr>
            <div class="mb-3 row mx-4">
              <label class="col-md-8 col-form-label">Sub-Total</label>
              <div class="col-md-4 mb-1">
                <input class="form-control text-end" type="text" [value]="monto | currency: 'S/ ' " readonly>
              </div>
              <label class="col-md-8 col-form-label">Otras tasas</label>
              <div class="col-md-4 mb-1">
                <input class="form-control text-end" type="text" [value]="monto | currency: 'S/ ' " readonly>
              </div>
              <label class="col-md-8 col-form-label">Descuento</label>
              <div class="col-md-4 mb-1">
                <input class="form-control text-end" type="text" value="0.00">
              </div>
              <label class="col-md-8 col-form-label">Total</label>
              <div class="col-md-4 mb-1">
                <input class="form-control text-end" type="text" [value]="monto | currency: 'S/ ' " readonly>
              </div>
            </div>

          </div>
          <div class="card-footer d-flex flex-row align-items-center justify-content-around">
            <button type="button" class="btn btn-danger w-25 mx-2" (click)="setPaneles('x_all')">Cancelar</button>

            <button (click)="condonarDeuda()" [disabled]="isDisabled" class="btn btn-info w-25 mx-2" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasEnd" aria-controls="offcanvasEnd">
              Condonar deuda
            </button>

            <button (click)="regPagosServicio()" [disabled]="isDisabled" type="button" class="btn btn-success w-25 mx-2">
              Emitir recibo
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- TRIBUTOS -->
<div class="row" *ngIf="panel_tributos">
  <div class="col-md-12">
    <app-tributos [cliente]="cliente" [caja]="caja"></app-tributos>
    <button class="btn btn-danger btn-xs" (click)="setPaneles('x_tributos')">Cancelar</button>
  </div>
</div>

<!-- HISTORIAL -->
<div class="row" *ngIf="panel_historial">
  <div class="col-md-12">
    <app-historial [cliente]="cliente"></app-historial>
  </div>
</div>

<!-- CONDONACIONES -->
<app-condonacion *ngIf="panel_condonacion" [deudas]="deudas" [monto]="monto"></app-condonacion>

<!-- ADELANTOS/PAGOS -->
<div class="row" *ngIf="panel_adelantos">
  <div class="col-md-12">
    <app-adelantos
      *ngIf="panel_adelantos"
      [costos]="costos"
      [cliente]="cliente"
      [caja]="caja"
      >
    </app-adelantos>
    <button class="btn btn-danger btn-xs" (click)="setPaneles('x_adelantos')">Cancelar</button>
  </div>
</div>

<!-- OCURRENCIAS -->
